.vertical-line {
  position: relative;
  
}

.vertical-line::before {
  content: "";
  position: absolute;
  top: 40px;
  height: 20px;
  bottom: 0;
  left: 17px;
  width: 1px;
  border-left: 2px dashed #E3E3E3;
}
